---
import BoxSkillsFront from "../components/BoxSkills/Frontend.astro";
import BoxSkillsBack from "../components/BoxSkills/Backend.astro";
import LearningSkills from "../components/BoxSkills/Learning.astro";
import ToolsSkills from "../components/BoxSkills/Tools.astro";

---
<section class="grid lg:grid-cols-2 lg:grid-rows-2 gap-6 lg:place-content-center">
                    
    <BoxSkillsFront/>
    <BoxSkillsBack/>
<LearningSkills />
<ToolsSkills/> 
</section>

